#mobilewhy {
    padding: 10vw 5vw 15vw 5vw;
}

#mobilewhy h1 {
    font-size: 2.3em;
    margin-bottom: 30px;
}

#mobilewhy p {
    font-weight: 200;
    margin-bottom: 20px;
}

#mobilewhy #my-video-mb {
    width: 90vw;
    height: auto;
    border-radius: 10px;
    margin: 50px 0 0 0;
}