#contactus_m {
    display: flex;
    flex-direction: column;
    background-color: #1e1e2080;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 600px; */
    /* width: 100vw; */
}

#contactus_m .contact-flex_m {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#contactus_m p {
    color: var(--secondary-color);
    margin-top: 20px;
}

#contactus_m a {
    color: var(--secondary-color);
    text-decoration: none;
}

#contactus_m .social_m {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#contactus_m img {
    height: 2em;
    margin-top: 2em;
}