/* General CSS */

section {
  padding: 10vh 8vw 15vh 8vw;
}

h1 {
  font-size: 3em;
  color: var(--primary-color);
}

.center {
  display: flex;
  justify-content: center;
}

.nuito {
  font-family: Nuito Sans, sans-serif;
}

.mobilesection {
  padding: 10vh 5vw 15vh 5vw;
}

.mobilesectionnp {
  padding: 1vh 5vw 15vh 5vw;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Navigation */

nav {
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  padding: 2em 6em;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 5%;
}

.logo img {
  display: inline;
  height: 40px;
}

.logo h2 {
  display: inline;
  margin-top: 5px;
}

.menu {
  display: inline-block;
}

nav .menu li {
  display: inline;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0em 1.2em;
}

/* Hero */

#hero {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}

#navbtn {
  position: absolute;
  top: 30px;
  right: 5%;
  background-color: transparent;
  padding: 0em 3em;
  color: var(--primary-color);
  border-radius: 5px;
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  height: 40px;
}

#hero h1 {
  position: relative;
  margin: 10px 0 10px 0;
  font-size: 5em;
  color: var(--primary-color);
}

#hero p {
  color: var(--secondary-color);
  margin-bottom: 20px;
  line-height: 2;
  font-size: 1em;
  width: 90%;
}

#hero .herobtn {
  outline: transparent;
  border: transparent;
  border-radius: 5px;
  background-color: #44382D;
  padding: 1em 2em;
  font-size: 1em;
  color: var(--primary-color);
}

#hero img {
  height: 400px;
  width: 1000px;
  margin-left: 20%;
}

/* Why Kliquestart */

#whyus {}

#whyus h1 {
  margin-bottom: 30px;
}

#whyus p {
  color: var(--secondary-color);
}

#whyus video {
  width: 84vw;
  height: 80vh;
  border-radius: 10px;
}

#my-video {
  height: 80vh;
  width: 84vw;
  border-radius: 10px;
}

/* What we do */

#whatwedo {}

#whatwedo .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  row-gap: 7vh;
  column-gap: 6vw;
  padding: 40px 0 0 0;
}

#whatwedo .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  color: var(--primary-color);
  gap: 1em;
}

#whatwedo .grid-container .grid-item p {
  color: var(--secondary-color);
}

#whatwedo .grid-container .grid-item img {
  height: 60px;
  width: 60px;
}

/* Contact Us*/

#contactus {
  display: flex;
  flex-direction: column;
  background-color: #1e1e2080;
  height: 600px;
  width: 100vw;
}

#contactus .contact-flex {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#contactus p {
  color: var(--secondary-color);
}

#contactus a {
  color: var(--secondary-color);
  text-decoration: none;
}

#contactus .social {
  position: relative;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#contactus img {
  height: 4em;
}

footer {
  background-color: #1e1e20;
  height: 250px;
}

footer .links {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

footer .links a {
  color: var(--primary-color);
  text-decoration: none;
}

footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  height: 25px;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  background-color: #000000;
}


@media screen and (max-width: 900px) {
  #contactus {
    flex-direction: column;
  }

  body {
    overflow-x: hidden;
  }
}